# EditorConfig is awesome: https://EditorConfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
curly_bracket_next_line  = false
spaces_around_operators  = true

[*.js]
quote_type = single

[*.{html,less,css,json}]
quote_type = double

[*.md]
trim_trailing_whitespace = false

[*.{go,sh,xml}]
indent_size = 4
indent_style = tab

[Makefile]
indent_size = 4
indent_style = tab
